@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
.disply-flex{
    display: flex;
}
.btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 100px;
    background-image:var(--linear,  linear-gradient(47.64deg, rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1)));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;

}


/* header styles */



/* navbar related styles */
.navbar{
     /* border: 1px solid red;  */
     max-width:1600px;
    height: 92px;
    margin: 0 auto;
    padding:  16px  200px 16px  200px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(65, 37, 103, 1);

}
.brand{
    max-width: 219px;
    height: 32px;
    /* border: 1px solid rgba(0,0,0,1); */
    font-size: xx-large;
}
.first-half{
    color: #ffffff;
}
.second-half{
  background-image:var(--linear,  linear-gradient(47.64deg, rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1))); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav{
    background-color: #412567;
      

}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    font-size: 16px;
}
#banner{
    max-width: 1600px;
    background-color: #412567; 
    margin: 0 auto;
    border: 1px solid red; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40;
}
.image-container{
position: relative;
display: inline-block;
margin: 69px 75px 81px 75px;
}
.banner-image{
    width: 350px;
    height: 350px;
}
.banner-image1{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 150px;
   z-index: 1;
}
.banner-content h1{
    width: 550px;
    height: 73px;
    color: #ffffff;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    margin-top:40px;
}
.banner-content p{
    width: 550px;
    height: 19px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 8px;
    margin-bottom:24px;
}
.button2{
    display: flex;
    gap: 28px;
    margin-bottom: 101px;
}
#left-button{
    width: 205px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
}
#right-button{
    width: 150px;
    height: 45px;
    border-radius: 100px;
    box-sizing: border-box;
    border: 1px solid var(--#00ff88, rgba(0,255,136,1));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    color:var(--#00ff88, rgba(0,255,136,1));
}