@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* Shared styles */
.disply-flex{
    display: flex;
}
.btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px 12px 16px;
    border-radius: 100px;
    background-image:var(--linear,  linear-gradient(47.64deg, rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1)));
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;

}


/* header styles */



/* navbar related styles */
.navbar{
     /* border: 1px solid red;  */
     max-width:1600px;
    height: 92px;
    margin: 0 auto;
    padding:  16px  200px 16px  200px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(65, 37, 103, 1);

}
.brand{
    max-width: 219px;
    height: 32px;
    /* border: 1px solid rgba(0,0,0,1); */
    font-size: xx-large;
}
.first-half{
    color: #ffffff;
}
.second-half{
  background-image:var(--linear,  linear-gradient(47.64deg, rgba(247,233,63,1),rgba(251,9,180,1),rgba(145,0,248,1))); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav{
    background-color: #412567;
      

}
.nav-item{
    list-style: none;
    margin-right: 32px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    color: #ffffff;
    font-size: 1rem;
}
#banner{
    max-width: 1600px;
    background-color: #412567; 
    margin: 0 auto;
    /* border: 1px solid red;  */
  background-image: url(/assets/hero-bg.png);
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40;
}
#button1{
    background-color: #00ff88;
    font-size: 1.15rem;
    font-weight: 600;
    width: 75px;
    height: 40px;
    border-radius: 20px ;
    box-shadow: 0px 3px 27px 0px rgba(0,255,136,.5);
    margin-left: 300px;
    margin-top: 0px;
    position: absolute;
}
.image-container{
position: relative;
display: inline-block;
margin: 69px 75px 81px 75px;
max-width: 100%;
}
.banner-image{
    width: 300px;
    height: 300px;
}
.banner-image1{
    position: absolute;
    top: 50px;
    left: 100px;
    width: 130px;
   z-index: 1;
}
.banner-content h1{
    width: 550px;
    height: 73px;
    color: #ffffff;
    font-weight: 800;
    font-size: 3.75rem;
    text-align: center;
    margin-top:40px;
}
.banner-content p{
    width: 550px;
    height: 19px;
    color: #ffffff;
    font-size:1rem;
    font-weight: 400;
    text-align: center;
    margin-top: 8px;
    margin-bottom:24px;
}
.button2{
    display: flex;
    gap: 28px;
    margin-bottom: 101px;
}
#left-button{
    width: 205px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
}
#right-button{
    width: 150px;
    height: 45px;
    border-radius: 100px;
    background-color: #412567;
    font-size: 1rem;
    font-weight: 600;
    color:#00ff88;
    box-sizing: border-box;
    border: 1px solid #00ff88;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px 12px 20px;
    color:var(--#00ff88, rgba(0,255,136,1));
}
.about-container{
    width: 1600px;
    height: 645px;
    background-color: #412567;
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    padding: 50px 200px 50px 200px;
    box-sizing: border-box;
    margin: 0 auto;
}
.about-content h2{
width: 1200px;
height: 58px;
font-size: 3rem;
font-weight: 700;
text-align: center;
color: #ffffff;
}
.about-content p{
    width: 1200px;
    height: 148px;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    line-height: 20px;
}
.card-container{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
}
.card{
    border: 2px solid #412567;
    width: 240px;
    height: 94px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-number{
    font-size: 1.5rem;
    font-weight: 900;
    color: #00ff88;
    margin:0 auto;
    gap: 16px;
}
.card-name{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
}
.choose-container{
    max-width: 1600px;
    height: 1121px;
     border: 1px solid rgba(35, 14, 61, 1); 
    margin: 0 auto;
    background-color: rgba(35, 14, 61, 1);
    box-sizing: border-box;

}
.choose-title{
    width: 1200px;
    height: 58px;
    margin: 0 auto;
    font-size: 1.5rem;
    font-weight: 600;
  color: #ffffff;
  text-align: center;
}
.choose-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 30px;
    padding: 120px 200px 120px 150px;
}
.box-1{
    grid-row: span 2;
    width: 350px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 40px;
    background-color: #412567;
    border-radius: 40px;
   }
.box-1 h4{
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
   }
.box-1 p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    opacity: .6px;
}   
.box-2{
    grid-column: span 2;
     width: 790px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 40px;
    background-color: #412567;
    border-radius: 40px;
}
.box-2 h4{
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
   }
.box-2 p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    opacity: .6px;
} 
.box-3{
    grid-column: span 2;
    width: 790px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 40px;
    background-color: #412567;
    border-radius: 40px;
}
.box-3 h4{
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
   }
.box-3 p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    opacity: .6px;
} 

.box-4{
    grid-column: span 2;
    width: 790px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    padding: 40px;
    background-color: #412567;
    border-radius: 40px;
}
.box-4 h4{
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
   }
.box-4 p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    opacity: .6px;
} 
.box-5{
    grid-column: span 1;
     width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 16px;
    padding: 40px;
    background-color: #412567;
    border-radius: 40px;
}
.box-5 h4{
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: left;
   }
.box-5 p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    opacity: .6px;
} 
.featured-container{
    max-width: 1600px;
    border: 1px solid rgba(35, 14, 61, 1);
    height: 1276px;
    margin: 0 auto; 
    background-color: rgba(35, 14, 61, 1);
    padding: 120px 200px 120px 200px;
    box-sizing: border-box;
}
.feature-title{
    width: 1200px;
    height: 58px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}

.video-card{
    border: 1px solid #412567;
    border-radius: 8px;
    width: 280px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin: 20px;
    display: inline-block;
    background-color: #412567;
}
.video-container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.video-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
}
.card-content{
    padding: 15px;
}
.video-title{
    width: 332px;
    height: 58px;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    color: #ffffff;
}
.vedio-description{
    font-size: .5 rem;
    font-weight: 400;
    text-align: left;
    color: #ffffff;
}
.card-content a{
    color: #00ff88;
}
.host-title h2{
    width: 1200px;
    height: 58px;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
}
.host-social{
display: grid;
grid-template-columns: repeat(2, 1fr);
width: 1200px;
height: 280px;
justify-content: flex-start;
align-items: center;
border-radius: 40px;
}
.host-social h2{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 700;
    text-align: center; 
}
.host-social p{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 400;
    text-align:left; 
}
.footer-container{
    width: 1600px;
    height: 212px;
    border: 1px solid #412567;
    background-color: #412567;
    box-sizing: border-box;
    margin: 0 auto;
     background-image: url(/assets/footer-bg.png);
    background-size: cover ;
    background-position: center;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.footer-brand{
    width: 410px;
    font-size: 3rem;
    text-align: center;
}
.footer-social a{
    text-decoration: none;
    color: #ffffff;
}
.footer-container p{
    color: #ffffff;
}


  

@media screen and (max-width:576px) { 
.navbar{
   display: none;
}
    
}